body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #FFEEEE, #DDEFBB );
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, #24C6DC, #514A9D );
}